---
layout: default
---
<div class="hero bg-dark-sky-blue pb-6">
	<h1>Open Data City Census</h1>
	<h2>Automatisches Ranking der Open Data Programme deutscher Städte</h2>
</div>
<div class="section">
  <div class="-mt-8 p-6 mx-auto card">
    <h4 class="text-center">Platz 1</h4>
    <h5 class="text-center text-2xl">Rostock</h5>
  </div>
  <div class="container content mt-8">
    <div class="flex flex-wrap">
			{% capture top_5_content %}
				{% include ranked_list.html ranking=site.data.top5 %}
			{% endcapture %}
			{% capture top_lizenzen_content %}
				{% include ranked_list.html ranking=site.data.topLizenzen %}
			{% endcapture %}
			{% capture top_format_content %}
				{% include ranked_list.html ranking=site.data.topFormate %}
			{% endcapture %}
			{% capture formate_viz %}
				{% include create_viz.html elementId="viz-formate" data_file=site.data.top_formate %}
			{% endcapture %}
			{% capture lizenzen_viz %}
				{% include create_viz.html elementId="viz-lizenzen" data_file=site.data.top_lizenzen %}
			{% endcapture %}
			{% capture portale_viz %}
				{% include create_viz.html elementId="top-portale" data_file=site.data.top_portale %}
			{% endcapture %}
      <div class="w-1/3">
				{% include widget.html class="mr-4" card_id="top-5" header="Top 5" content=top_5_content %}
      </div>
      <div class="w-1/3">
				{% include widget.html class="mr-4" card_id="top-formats" header="Top 5 Formate" content=top_format_content  %}
      </div>
      <div class="w-1/3">
				{% include widget.html card_id="top-license" header="Top 5 Lizenzen" content=top_lizenzen_content %}
      </div>
    </div>
			<div class="flex justify-center">
				<a class="button m-auto bg-blue button-pop shadow hover:bg-blue-dark text-white font-bold py-3 px-4 rounded text-2xl" href="/ranking.html">Zum Ranking</a>
			</div>
  </div>
</div>
<div class="section section-alternate">
  <div class="container content benefits">
		<h3>Was bringt mir das Ranking?</h3>
    <div class="flex flex-wrap mt-4">
      <div class="w-1/2">
				<div class="flex items-center align-middle ranking-city">{% include landmark_svg.html %}<h4 class="pl-4 align-middle text-xl">Städte</h4></div>
				<ul class="mt-4 ml-8">
					<li><div class="pb-4 pl-6">Transparenz zur Qualität der Daten</div></li>
					<li><div class="pb-4 pl-6">Ranking ohne Mehraufwand</div></li>
					<li><div class="pb-4 pl-6">Insights in die eigenen Daten</div></li>
					<li><div class="pb-4 pl-6">Kommunikationsmittel an die Bürger und Politik</div></li>
					<li><div class="pb-4 pl-6">Vergleich mit anderen Kommunen</div></li>
				</ul>
				<p></p>
			</div>
      <div class="w-1/2">
				<div class="flex items-center align-middle ranking-city">{% include couples_svg.html %}<h4 class="pl-4 align-middle text-xl">Bürger</h4></div>
				<ul class="mt-4 ml-8">
					<li><div class="pb-4 pl-6">Transparenz zur Qualität der Daten</div></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section section-alternate">
  <div class="container content">
		<h3>Über das Projekt</h3>
		<div class="mt-8">
			<p>Das Projekt ist ein Vorhaben im Rahmen des Prototype Funds der OKF und des BMBF.</p>
			<p>Es wurde in der zweiten Förderrunde ausgewählt und läuft vom 1.September2017 - 28.Februar 2018.</p>

			<p>Open Data Stadt Zensus soll den aktuellen von der Community betriebenen City Census ersetzen und erweitern. Der Fortschritt der Städte und Kommunen Deutschlands im Bereich Offenen Daten soll sichtbar werden und ein Benchmarking für Kommunen und Bürger ermöglichen.</p>

			<p>Die aktuellen (englischen) Kategorien sollen in Zusammenarbeit mit den Open Data Kommunen Deutschlands überarbeitet werden und das govdata Portal als Metadatenportal genutzt werden, um den Mehraufwand für die Kommunen möglichst gering zu halten.</p>
		</div>
  </div>
</div>
