---
layout: default
---
<div class="hero bg-dark-sky-blue pb-6">
	<h1>Open Data City Census</h1>
	<h2>Automatisches Ranking der Open Data Programme deutscher Städte</h2>
</div>
<div class="section">
  <div class="-mt-8 p-6 mx-auto card">
    <h4 class="text-center">Platz 1</h4>
    <h5 class="text-center text-2xl">Rostock</h5>
  </div>
  <div class="container content mt-8">
    <div class="flex flex-wrap">
			{% capture top_5_content %}
				{% include ranked_list.html ranking=site.data.top5 %}
			{% endcapture %}
			{% capture top_lizenzen_content %}
				{% include ranked_list.html ranking=site.data.topLizenzen %}
			{% endcapture %}
			{% capture top_format_content %}
				{% include ranked_list.html ranking=site.data.topFormate %}
			{% endcapture %}
			{% capture formate_viz %}
				{% include create_viz.html elementId="viz-formate" data_file=site.data.top_formate %}
			{% endcapture %}
			{% capture lizenzen_viz %}
				{% include create_viz.html elementId="viz-lizenzen" data_file=site.data.top_lizenzen %}
			{% endcapture %}
			{% capture portale_viz %}
				{% include create_viz.html elementId="top-portale" data_file=site.data.top_portale %}
			{% endcapture %}
      <div class="w-1/3">
				{% include widget.html class="mr-4" card_id="top-5" header="Top 5" content=top_5_content %}
      </div>
      <div class="w-1/3">
				{% include widget.html class="mr-4" card_id="top-formats" header="Top 5 Formate" content=top_format_content  %}
      </div>
      <div class="w-1/3">
				{% include widget.html card_id="top-license" header="Top 5 Lizenzen" content=top_lizenzen_content %}
      </div>
    </div>
			<div class="flex justify-center">
				<a class="button m-auto bg-blue button-pop shadow hover:bg-blue-dark text-white font-bold py-3 px-4 rounded text-2xl" href="/ranking.html">Zum Ranking</a>
			</div>
  </div>
</div>
<div class="section section-alternate">
  <div class="container content benefits">
		<h3>Was bringt mir das Ranking?</h3>
    <div class="flex flex-wrap mt-4">
      {% for vorteil in site.data.vorteile %}
      <div class="w-1/2">
        <div class="flex items-center align-middle ranking-city">{% include {{vorteil.icon | append: '.svg.html'}} %}</div>
        <h4 class="pt-4 align-middle text-xl">{{vorteil.title}}</h4>
				<ul class="mt-4 pl-0">
					{% for item in vorteil.vorteile %}
						<li><div class="pb-4 pl-6">{{item}}</div></li>
					{% endfor %}
				</ul>
			</div>
      {% endfor %}
		</div>
	</div>
</div>

<div class="section section-alternate-2">
  <div class="container content">
		<h3>Was soll mit dem Ranking erreicht werden?</h3>
    <div class="flex flex-wrap mt-4">
      {% for goal in site.data.goals %}
			<div class="w-1/2">
        <div class="flex items-center align-middle ranking-city">{% include {{goal.icon}} %}</div>
        <h4 class="pt-4 text-xl">{{goal.title}}</h4>
				<div class="pt-4 pr-6">
          {% capture text %}{% include {{goal.text}} %}{% endcapture %}
					{{text| markdownify }}
				</div>
			</div>
      {% endfor %}
		</div>
	</div>
</div>
<div class="section">
  <div class="container content">
		<h3>Über das Projekt</h3>
		<div class="mt-8">
      {% capture text %}{% include projekt.md %}{% endcapture %}
      {{text| markdownify }}
		</div>
  </div>
</div>
