---
layout: default
---
<div class="section detail">
  <div class="container content">
		<div id="city-datasets">
			<div class="flex bg-grey-dark p-6 w-full" id="ranking-header">
					<div class="flex ml-4 w-1/5 flex-col justify-center">Stadt</div>
					<div class="flex w-1-8 pl-2 flex-col justify-center">Punktzahl</div>
					<div class="flex w-1/3 pl-2 flex-col justify-center">Datenqualität</div>
					<div class="flex w-1/6 pl-2 flex-col justify-center">Datensätze</div>
					<div class="flex w-1/6 pl-2 flex-col justify-center">% Datensätze mit offener Lizenz</div>
			</div>
			<div class="" id="ranking-body">
				{% assign ranks = site.data.odd_rank | sort: 'overall_rank' %}
				{% for entry in ranks %}
					<div class="flex p-2">
						<div class="flex flex-no-grow p-2 flex-col justify-center text-xl">{{entry.overall_rank | ceil }}</div>
						<div class="flex w-1/5 p-2 align-middle flex-col justify-center text-xl">{{entry.name}}</div>
						<div class="flex w-1-8 p-2 align-middle flex-col justify-center overlay-container" data-name="entry-{{entry.overall_rank}}">
							<div class="">
								{{entry.overall_rank_data | round: 2}}
							</div>
							<div class="">
							</div>
							<div id="entry-{{entry.overall_rank}}" class="overlay border shadow text-xs">
								<b>Detailrang</b>
								{% include detail_rang_table.html entry=entry %}
                <a class="button bg-blue py-2 px-2 rounded text-lg" href="{{site.baseUrl}}/punkte.html">mehr zum Punktesystem</a>
							</div>
						</div>
						<div class="flex p-2 w-1/3">
							{% assign means = site.data.city_stats.datasets[entry.id] %}
              {% assign classes = "hidden" %}
              {% if forloop.first %}
                {% assign classes = "" %}
              {% endif %}
              {% assign update_text = means.update_time_mean | round: 2 | replace: '.',',' | append: " von 1" %}
              {% assign format_text = means.format_mean | round: 2 | replace: '.',',' | append: " von 1" %}
              {% assign license_text = means.license_mean | round: 2 | replace: '.',',' | append: " von 1" %}
              {% include quality.html update_time=means.update_time_mean update_text=update_text license=means.license_mean license_text=license_text format=means.format_mean format_text=format_text classes=classes %}
							</div>
						</div>
						<div class="flex p-2 w-1/6 flex-col justify-center">{{entry.datasets | ceil}}</div>
						<div class="flex p-2 w-1/6 flex-col justify-center">
							{% if entry.datasets > 0 %}
                {% assign dataset_percentage= entry.open_datasets | divided_by: entry.datasets | times: 100 | ceil %}
                {% assign chartClass = "red" %}
                {% if dataset_percentage > 80 %}
                  {% assign chartClass = "green" %}
                {% elsif dataset_percentage > 50 %}
                  {% assign chartClass = "yellow" %}
                  {% endif %}
                {% include donut.html amount=dataset_percentage chartClass=chartClass %}
							{% else %}
                {% include donut.html amount=0 %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		</section>
	</div>
</div>
