<div class="hidden bg-blue-dark md:block md:bg-white md:border-b">
      <div class="container mx-auto px-4">
        <div class="md:flex">
          <div class="nav-item" >
						<a href="{{site.baseurl}}index.html" class="md:text-blue-dark ">
              Übersicht
            </a>
          </div>
          <div class="nav-item" >
						<a href="{{site.baseurl}}ranking.html" class="md:text-blue-dark ">
              Ranking
            </a>
          </div>
          <div class="nav-item">
            <a href="#" class="md:text-grey-dark md:opacity-100 md:hover:border-grey-dark hover:opacity-100">
							Details
            </a>
          </div>
          <div class="nav-item">
            <a href="#" class="md:text-grey-dark md:opacity-100 md:hover:border-grey-dark hover:opacity-100">
              Methode
            </a>
          </div>
          <div class="nav-item">
            <a href="#" class="md:text-grey-dark md:opacity-100 md:hover:border-grey-dark hover:opacity-100">
              Projekt
            </a>
          </div>
        </div>
      </div>
    </div>
