p {
	margin-bottom: 1rem;
	line-height: 1.5rem;
}
.nav-item a.active:visited, .nav-item a.active {
	color: #2779bd;
}
.nav-item a, .nav-item a:visited {
	color: #D8D8DA;
}
a.button {
	color: #ffffff;
	font-weight: 400;
}
a.button:hover {
	margin-top: -1px;
	margin-bottom: 1px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.10);
	text-decoration: none
}
.button-pop {
	background-image: linear-gradient(to bottom, #4990e2, #4a73e3);
	text-transform: uppercase;
}
.explanation {
	font-size: 12pt;
	line-height: 16pt;
}
.donut {
  height: 80px;
}
.detail {
	background-color: #fefefe;
}

.detail .content {
	background: #fff;
}
table {
	border: none;
}
table td {
	padding: 10px;
}

table tr:even {
	background: #ccc;
}
.explanation {
	font-size: 12pt;
	line-height: 16pt;
}
.ranking-city .heroicon-outline {fill: #4A4A4A;}
.ranking-city .heroicon-shadow {fill: #4A4A4A; opacity:0.2;}
.ranking-city .heroicon-component-fill {fill: #fff;}
.ranking-city .heroicon-component-accent {fill: #004DA1;}

#ranking-body.scroll {
	margin-top: 68px;
}
.w-1-8 {
	width: 12%;
}
#ranking-header {
  font-weight: bold;
}
.chart-text {
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.4em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}
.donut .donut-segment.green {
  stroke: #A0C769;
}
.donut .donut-segment.yellow {
  stroke: #E2D925;
}
.donut .donut-segment.red {
  stroke: #BB0551;
}
.indicators .green {
  background-color: #A0C769;
}
.indicators .yellow {
  background-color: #E2D925;
}
.indicators .red {
  background-color: #BB0551;
}
.benefits ul {
	list-style: none;
}
.benefits ul li div{
	background-image: url(../images/noun_29430.svg);
	-webkit-filter: hue-rotate(120deg) saturate(0.5);
	filter: hue-rotate(120deg) saturate(0.5);
	background-size: 15px 15px;
	background-repeat: no-repeat;
}
.benefits .checkmark-{
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px green;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.detail-data:hover span {
	display: inline;
}
.overlay-container:hover .overlay {
	display: block;
}
.overlay {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 100px;
	padding: 1rem;
}
.overlay table td{
	padding: 0 5px 0 0;
	margin: 0;
}
.page h2, .page h3, .page h4 {
  margin-top: 2rem;
}
.page h2 {
  font-size: 1.5rem;
}
.page h3 {
  font-size: 1.25rem;
}
