---
layout: default
---
<div class="container content">
  {% assign city_id = page.city %}
  {% assign cities = site.data.odd_rank | where: "id",city_id %}
  {% for city in cities limit: 1 %}
		<div class="flex">
			<div class="w-1/2">
				<h1>{{city.name}}</h1>
			</div>
			<div class="w-1/2 flex">
				<div class="w-1/3">
					Datensätze:
					{{city.datasets | ceil}}
				</div>
				<div class="w-1/3">
					Kategorien:
					{{city.category_count | ceil}}
				</div>
				<div class="w-1/3">
					{% include donot_helper.html item=city.datasets byItem=city.open_datasets %}
					offene Datensätze
				</div>
			</div>
		</div>
		{% include detail_rang_table.html entry=city %}
  {% endfor %}
  {{content}}
  {% include dataset_details.html %}
</div>
